.container {
  padding: 0 var(--spacing-lg);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.brand {
  display: flex;
  align-items: baseline;
  gap: var(--spacing-sm);
}

.company {
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-semibold);
  color: var(--app-button-color);
}

.divider {
  font-size: var(--font-size-md);
  color: var(--app-hint-color);
  font-weight: var(--font-weight-light);
}

.productName {
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-bold);
  color: var(--app-text-color);
}

.total {
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-bold);
  color: var(--app-text-color);
}
